html(lang="zh-TW")
    head
        title Git Talk 2016
        style
            | <style type="text/css">
            include:less(compress=true) ../styles/monokai-sublime.css
            include:less(compress=true) ../node_modules/reveal.js/css/reveal.css
            include:less(compress=true) ../node_modules/reveal.js/css/theme/white.css
            include:less(compress=true) ../styles/index.less
            | </style>
    body
        .reveal: .slides
            include slides.jade
        script(type="text/javascript")
            include ../node_modules/headjs/dist/1.0.0/head.js
            include ../node_modules/reveal.js/js/reveal.js
        script(type="text/javascript")
            include:uglify-js ../scripts/index.js
