section
    h1 CSS 與排版
    table(style="border:0;"): tbody: tr
        td: ul
            li Box Model
            li block 與 inline
            li Normal Flow
            li relative 與 absolute
            li float 與 clear
        td: ul
            li Pseudo Element
            li stacking context 與 z-index
            li grid 系統
            li flexbox
section
    h2 DOM 的視覺呈現：Box Model
section
    h2 Block-level &amp; Inline-level
section
    h2 網頁的排版原則：Normal Flow
section
    section
        h3: code position: relative;
    section
        h3: code position: absolute;
    section
        h3 混用技巧
section
    section
        h3: code float: left;
    section
        h3: code clear: left;
    section
        h3 Float 的問題
    section
        h3 Clearfix
section
    h2 Pseudo Element
section
    section
        h3 Stacking Context
    section
        h3 z-index
section
    h2 網頁的 grid 系統
section
    h2 CSS3 排版新招：flexbox

include ./part2-2.jade

section
    h1 網頁排版技巧
    ul
        li 排版思維
        li Reset &amp; Normalize
        li 使用 grid 系統
        li 垂直置中
        li relative &plus; absolute
        li 範例探討

section
    h1 Responsive Web Design (RWD) 淺談
    ul
        li Mobile First
        li Viewport
        li vw &amp; vh
