section
    h1 網頁開發概念與技巧雜談
    h3 Mar. 30, 2016 | NTU Garage
    p
        | 曾台綸
        | &nbsp;
        a(href="mailto:teaualune@gmail.com") teaualune@gmail.com
section
    h1 Agenda
    table(style="border:0;"): tbody: tr
        td
            h4
                | Part I: Intro to
                br
                | Web Page Basics
            ul
                li 網頁運作原理
                li 網頁的 Debugging 工具
                li HTML 結構簡介
        td
            h4 Part II: CSS Concepts
            ul
                li CSS 與排版
                li CSS 實踐技巧
                li 網頁排版技巧
                li RWD 淺談

include ./part1.jade
include ./part2.jade
